body {
  width: 100%;
  font-family: "Vollkorn", "monospace";
  font-size: 100%;
}

article, #intro, header {
  max-width: 95%;
}

article, #intro {
  margin: auto;
  margin-top: 50px;
  /*font-family: "Vollkorn", "monospace";*/
  color: #131313;
}

#intro {
  margin-top: 0px; 
}

header {
  margin: auto;
  margin-top: 0px;
  /*font-family: "Vollkorn", "monospace";*/
  color: #131313;
}

header h1 {
  color: #fff;
  background-color: #333;
  padding: 40px 20px 40px 20px;
  font-size: 20px;
  font-style: italic;
  text-align: center;
  border-top: 3px solid #D8A800;
}

header p {
  font-size: 16px;  
}

footer, h1, h2, h3, p {
  max-width: 90%;  
}

footer {
  margin: auto;
  margin-top: 150px;
  /*font-family: "Vollkorn", "monospace";*/
  color: #fff;
  background-color: #333;
  padding: 20px 20px 20px 20px;
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

footer a {
  color: #D8A800;
  text-decoration: none;
}

footer a:hover {
  color: #D8A800;
  text-decoration: underline;
  background-color: #333;
}


h1, h2, h3 {
  margin: auto;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 10px 10px 10px;
}

h1 {
  background-color: #D8A800;
  color: #fff;
}

h2 {
  color: #D8A800;
  border-bottom: 2px solid #D8A800;
}

h3 {
  color: #666;
  font-size: 12px;
  /*background-color: rgba(216, 168, 0, 0.2);*/
  background-color: #eee;
  border-bottom: 2px solid #ddd;
}

h3::before {
  content: "# ";
}

h1 .fa-external-link {
  padding-top: 4px;
  float: right;
  color: #fff;
}

em {
  font-style: italic;
}

p {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #666;
   font-size: 14px;
  font-weight: 400;
}

figcaption {
  max-width: 80%; 
}

figcaption {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #6c6c6c;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 10px 10px 10px;
  border-left: 2px solid #ddd;
}

pre {
  max-width: 320px;
  background-color: #eee;
  border-left: 3px solid #ccc;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

code {
  font-family: "Droid Sans Mono", monospace;
  font-size: 11px;
  color: #666;
  border-bottom: 1px solid #ddd;
}

b {
  font-weight: 400;
  color: #D8A800;
}

a {
  color: #666;
  /*color: #861B1B;*/
  text-decoration: none;
}

strong {
  color: rgb(134, 18, 0);
  font-weight: 400;
}

a:hover {
  background-color: #ddd;
  /*text-decoration: underline;*/
}

::selection {
  background: #D8A800;
  color: #111;
}

::-moz-selection {
  background: #D8A800;
  color: #111;       
}

.abs {
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  /*min-height: 500px;*/
}


/* Medium screens (640px) 
@media (min-width: 40rem) { 

}
 
 Large screens (1024px) 
@media (min-width: 64rem) { 
  article, #intro, header {
    max-width: 500px;
  }
  footer, h1, h2, h3, p {
    max-width: 320px;  
  }
  figcaption {
    max-width: 280px; 
  }
}*/


/* CASE 1 */
#case1 {
  z-index: 0;
  top: 50px;
  margin-top: 0px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #515151;
  /*max-width: 500px;*/
  /*font-family: "Vollkorn", "monospace";*/
}


#case1 circle {
  opacity: 1;
  fill: #131313;
}


#case1 .linreg {
  stroke-width: 2px;
  stroke: #D8A800;
  /*stroke: #e1e1e1;*/
}

/*.inter-line {
  stroke: #D8A800;
  opacity: 0.2;
}*/



#case1 .text {
  font-size: 13px;
  font-weight: bold;
  fill: #111;
}

/*.on-year {
  color: #D8A800;
}

.on-data {
  color: #D8A800;
}

.on-conf {
  color: #D8A800;
}      

.arc {
  fill: #D8A800;
  opacity: 0.2;
}*/

#case1 .on {
  fill: #D8A800;
}



/* CASE 3 */

#case3 {
  position: absolute;
  width: 100%;
}

img.case3 {
  position:absolute;
  width: 100%;
  opacity: 1;
}

/* CASE 4 */

.nma-back {
  stroke-opacity: 1;
  fill-opacity: 0.5;
  stroke-width: 2px;
  stroke: #fff;
}

.nma-front {
  fill-opacity: 0.7;
  stroke-width: 2px;
  stroke: #fff;
}