@import url(http://fonts.googleapis.com/css?family=Lato:400,700,700italic|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic);

html, body {
  font-size: 12px;
}

h1, h2, p, time {
    font-family: 'Merriweather', serif;
    margin: auto;
    padding: 1em;
}

h1 {
    font-size: 3em;
    font-weight: 300;
    max-width: 600px;
}
h2 {
    max-width: 600px;
    font-size: 1.5em;
    font-weight: 700;
    font-style: italic;
}
p {
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.8em;
    max-width: 600px;
}

/* Small to medium screens */
@media (min-width: 36em) {
  html, body {
    font-size: 15px;
  }
}

/* Large screens */
@media (min-width: 48em) {
}
